<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="empresa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
    <td mat-cell *matCellDef="let compra">{{ compra.empresa }}</td>
  </ng-container>

  <ng-container matColumnDef="folio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Folio</th>
    <td mat-cell *matCellDef="let compra">{{ compra.folio }}</td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
    <td mat-cell *matCellDef="let compra">
      {{ compra.fecha | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
    <td mat-cell *matCellDef="let compra">{{ compra.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="pedimento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pedimento</th>
    <td mat-cell *matCellDef="let compra">{{ compra.pedimento }}</td>
  </ng-container>

  <ng-container matColumnDef="dta">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DTA</th>
    <td mat-cell *matCellDef="let compra">{{ compra.dta }}</td>
  </ng-container>

  <ng-container matColumnDef="impuesto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Impuesto</th>
    <td mat-cell *matCellDef="let compra">
      {{ compra.impuesto }}
    </td>
  </ng-container>

  <ng-container matColumnDef="comentario">
    <th mat-header-cell *matHeaderCellDef>Comentario</th>
    <td mat-cell *matCellDef="let compra">{{ compra.comentario }}</td>
  </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef>Usuario</th>
    <td mat-cell *matCellDef="let compra">{{ compra.updateUser }}</td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef>Modificado</th>
    <td mat-cell *matCellDef="let compra">{{ compra.lastUpdated }}</td>
  </ng-container>

  <ng-container matColumnDef="operaciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let compra">
      <mat-icon (click)="onEdit($event, compra)" class="pad-right"
        >edit</mat-icon
      >
      <mat-icon (click)="onPrint($event, compra)" class="pad-rigt"
        >print</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let compra; columns: displayColumns"
    class="cursor-pointer "
    (click)="select.emit(compra)"
  ></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[50, 100, 200]"
  showFirstLastButtons
></mat-paginator>
