<mat-tab-group>
  <mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">format_list_bulleted</mat-icon>
        Lista de empaque
      </ng-template>
      LISTA DE EMPAQUE
    </mat-tab>
  </mat-tab>

  <mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">attach_money</mat-icon>
        Costo
      </ng-template>
      COSTOS
    </mat-tab>
  </mat-tab>

  <mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">view_module</mat-icon>
        Contenedores
      </ng-template>
      CONTENDORES
    </mat-tab>
  </mat-tab>
  <mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">edit</mat-icon>
        Propiedades
      </ng-template>
      PROPIEDADEES
    </mat-tab>
  </mat-tab>
</mat-tab-group>
