<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="clave">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Clave
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.clave }}
    </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Descripción
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.descripcion }}
    </td>
  </ng-container>

  <ng-container matColumnDef="unidad">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Uni
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.unidad }}
    </td>
  </ng-container>

  <ng-container matColumnDef="linea">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Linea
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.linea }}
    </td>
  </ng-container>

  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Marca
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.marca }}
    </td>
  </ng-container>

  <ng-container matColumnDef="clase">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Clase
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.clase }}
    </td>
  </ng-container>

  <ng-container matColumnDef="kilos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Kilos
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.kilos }}
    </td>
  </ng-container>

  <ng-container matColumnDef="gramos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Gramos
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.gramos }}
    </td>
  </ng-container>

  <ng-container matColumnDef="updateUser">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Usuario
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.updateUser }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Modificado
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.lastUpdated | date: 'dd/MM/yyyy HH:mm' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayColumns"
    class="cursor-pointer "
  ></tr>
</table>
