@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@import "./palette";

$primary: mat-palette($mat-black, 700);
$accent:  mat-palette($mat-indigo, 700, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
$dark-indigo: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

.luxor-dark {
  @include angular-material-theme($dark-indigo);
  @include covalent-theme($dark-indigo);
}


// Active icon color in list nav
mat-nav-list {
  [mat-list-item].active {
    mat-icon[matListAvatar] {
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast)
    }
    mat-icon[matListIcon] {
      color: mat-color($accent);
    }

    background-color: mat-color($primary, 100)
  }
}

.mat-row  {
  position: relative;
  &:hover:not(.active):not(.pasive) {
    background: mat-color($accent);
    .mat-cell {
      color: mat-color($accent, default-contrast);
    }
  }
}
