<mat-card *ngIf="embarque$ | async as embarque">
  <sxi-embarque-header [embarque]="embarque"></sxi-embarque-header>
  <mat-divider></mat-divider>
  <!-- <sxi-embarque-tabs></sxi-embarque-tabs> -->
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="">format_list_bulleted</mat-icon>
        Lista de empaque
      </ng-template>
      <sxi-lista-de-empaque
        [partidas]="embarque.partidas"
        (selectFactura)="onFactura($event)"
        (edit)="onEdit($event)"
      ></sxi-lista-de-empaque>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="">attach_money</mat-icon>
        Costo
      </ng-template>
      COSTOS
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="">view_module</mat-icon>
        Contenedores
      </ng-template>
      CONTENDORES
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="">edit</mat-icon>
        Propiedades
      </ng-template>
      PROPIEDADEES
    </mat-tab>
  </mat-tab-group>
</mat-card>
