<form [formGroup]="form">
  <div layout class="compra-form-row">
    <sxi-proveedor-field formControlName="proveedor" flex></sxi-proveedor-field>
    <sxi-fecha-field
      class="pad-left fecha-field"
      [parent]="form"
      property="fecha"
    ></sxi-fecha-field>

    <sxi-fecha-field
      class="pad-left fecha-field"
      [parent]="form"
      [min]="form.value.fecha"
      property="entrega"
      placeholder="F.Entrega"
    ></sxi-fecha-field>

    <sxi-fecha-field
      class="pad-left fecha-field"
      [parent]="form"
      [min]="form.value.entrega"
      property="depuracion"
      placeholder="Depuración"
    >
    </sxi-fecha-field>
  </div>
  <div layout>
    <sxi-tc-field [parent]="form"></sxi-tc-field>
    <sxi-upper-case-field
      class="pad-left"
      formControlName="comentario"
      placeholder="Comentario"
      flex
    >
    </sxi-upper-case-field>
  </div>
  <div>
    <sxi-compra-partidas
      [parent]="form"
      [partidas]="partidas.value"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      [readOnly]="isReadOnly()"
    ></sxi-compra-partidas>
  </div>
</form>
